* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  font-size:36px;
  text-align: left;
  color: green;
  padding-left: 1rem;
  padding-block: 0px;
  margin-block: 4px;
}

nav {
  background-color: green;
}

nav ul {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  list-style: none;
    margin-block: 0px;
}

a{
    text-decoration: none;
    color: white;
}

ul li {
  margin:1rem;
width: fit-content;
  font-size: 1rem;
  font-weight: 600;
}

body{
  width: 70%;
  margin: auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 300px;
}

ol li{
    padding: 0.5rem;
}

.gallery{
    display: grid;
    grid-template-rows: 1fr auto;
    max-width: 300px;
}

img{
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
}

footer{
    color: green;
    text-align: center;
}

/* table formating */

table{
    width: 100%;
    text-align: left;
}

th{
  border-bottom: 2px solid black;
  border-collapse: collapse;
}

td{
  border-bottom: 1px solid gray;
}
tbody tr:nth-child(odd){
  background-color: lightgray;
}

/* people grid from here */

.people{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
}
.people h2{
    color: green;
    background-color: lightgray;
    text-align: left;
    padding-block: 1rem;
    margin: 0px;
    padding-left: 1rem;
    border-bottom: px solid gray;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.benz, .ford{
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0.5rem;
    height: ;
}

.img_p{
  margin: 2rem;
}

.gray_footer{
    background-color: gray;
    height: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

@media screen and (max-width: 770px) {
  .gallery{
    display: none;
  }
  main{
    grid-template-columns: 1fr;
  }
}